[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==7.1.2"
openpyxl = "==3.0.9"
uplink = "==0.9.4"
aiohttp = "==3.7.4.post0"
docker = "==5.0.2"
tzlocal = "==4.0b1"
streamlit = "==0.89.0"
deepdiff = "==5.5.0"
black = "==21.8b0"
pytest-asyncio = "==0.15.1"
pytest = "==6.2.5"
pytest-cov = "==2.12.1"
coverage = "==5.5"
requests = "==2.26.0"
pexpect = "==4.8.0"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.9"
