[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==8.1.8"
openpyxl = "==3.1.0"
uplink = "==0.9.4"
aiohttp = "==3.7.4.post0"
docker = "==5.0.2"
tzlocal = "==4.0b1"
streamlit = "==1.10.0"
deepdiff = "==5.5.0"
requests = "==2.26.0"
python-pptx = "==0.6.21"
altair = "==4.2.0"
numpy ="==1.22.4"

[dev-packages]
black = "==21.8b0"
pytest-asyncio = "==0.15.1"
pytest = "==6.2.5"
pytest-cov = "==2.12.1"
coverage = "==5.5"
isort = "==5.10.1"
pyinstaller = "==5.1"

[requires]
python_version = "3.9"

