[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# CHANGED: Upgraded to 8.x to satisfy Black 24.x
click = ">=8.0.0"
colorama = "*"
openpyxl = ">=3.1.0"
# CHANGED: Relaxed to allow newer versions compatible with Py3.12
uplink = ">=0.9.7"
# CHANGED: 3.13.3 doesn't exist. Setting to * allows the latest compatible version.
aiohttp = "*"
# docker = ">=5.0.3"
docker = "*"
# CHANGED: 4.0b1 is a beta. 5.x is stable and better for 3.12
tzlocal = ">=4.2"
streamlit = "1.37.0"
streamlit-modal = "*"
deepdiff = ">=6.7.0"
requests = ">=2.26.0"
python-pptx = ">=1.0.2"
altair = "==4.2.2"

[dev-packages]
black = "24.3.0"
# CHANGED: Old versions below do not support Python 3.12.
pytest-asyncio = "*"
pytest = ">=7.0.0"
pytest-cov = "*"
coverage = "*"
isort = "==5.10.1"
pyinstaller = "*"

[requires]
python_version = "3.12"