name: Create Platform specific bundles
on:
  release:
    types: [ published ]

jobs:

  build-linux:
   name: build linux binary
   runs-on: ubuntu-latest
   steps:
     - name: Checkout repository
       uses: actions/checkout@v2
     - name: Install Python 3
       uses: actions/setup-python@v2
       with:
         python-version: 3.9
     - name: Install dependencies
       run: |
         python -m pip install --upgrade pip
         pip install pipenv pyinstaller
         # install to global namespace and then clean up, no need for venv setup
         pipenv install --dev --system
     - name: Create platform specific tarball/zip bundle using the spec file
       run: |
        pyinstaller --distpath=./dist/appdynamics backend/config-assessment-tool.spec
        cd dist
        tar -zcvf $(echo appdynamics/config*).tgz $(echo appdynamics/config*)
     - name: Release the bundle for linux
       uses: softprops/action-gh-release@v1
       if: startsWith(github.ref, 'refs/tags/')
       with:
         files: dist/appdynamics/*.tgz
         token: ${{ secrets.WORKFLOW_TOKEN }}

  build-win:
   name: build windows binary
   runs-on: windows-latest
   steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Install Python 3
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pipenv pyinstaller
        # install to global namespace and then clean up, no need for venv setup
        pipenv install --dev --system
    - name: Use pip installation to get around github hosted windows runner path issues
      id: install_it
      shell: pwsh
      run: |
        pipenv lock -r > requirements.txt
        pip install -r requirements.txt
        pyinstaller --distpath=./dist/appdynamics backend/config-assessment-tool.spec
        cd dist
        $bundleFileDir = Get-ChildItem ./appdynamics/config* | select Name
        $bundleFileDirName = $bundleFileDir.Name
        7z a "$bundleFileDirName.zip" ./appdynamics -xr!logs
        echo "::set-output name=bundle_name::$bundleFileDirName.zip"
    - name: Release the bundle for Windows
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: dist/${{ steps.install_it.outputs.bundle_name }}
        token: ${{ secrets.WORKFLOW_TOKEN }}

  build-macosx:
   name: build linux binary
   runs-on: macos-latest
   steps:
     - name: Checkout repository
       uses: actions/checkout@v2
     - name: Install Python 3
       uses: actions/setup-python@v2
       with:
         python-version: 3.9
     - name: Install dependencies
       run: |
         python -m pip install --upgrade pip
         pip install pipenv pyinstaller
         # install to global namespace and then clean up, no need for venv setup
         pipenv install --dev --system
     - name: Create platform specific tarball/zip bundle using the spec file
       run: |
        pyinstaller --distpath=./dist/appdynamics backend/config-assessment-tool.spec
        cd dist
        tar -zcvf $(echo appdynamics/config*).tgz $(echo appdynamics/config*)
     - name: Release the bundle for linux
       uses: softprops/action-gh-release@v1
       if: startsWith(github.ref, 'refs/tags/')
       with:
         files: dist/appdynamics/*.tgz
         token: ${{ secrets.WORKFLOW_TOKEN }}
