# .github/workflows/windows-release-bundle.yml
name: Create Windows Bundle

on:
  release:
    types: [ published ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-win:
    name: build windows binary
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Python 3
        uses: actions/setup-python@v5
        with:
          python-version: 3.9

      - name: Install dependencies
        shell: pwsh
        run: |
          python -m pip install --upgrade pip
          pip install pipenv pyinstaller
          # install to global namespace and then clean up, no need for venv setup
          pipenv install --dev --system

      - name: Use pip installation to get around github hosted windows runner path issues
        id: install_it
        shell: pwsh
        run: |
          pipenv requirements --dev > requirements.txt
          pip install -r requirements.txt
          pyinstaller --distpath=./dist/appdynamics backend/config-assessment-tool.spec
          cd dist
          $bundleFileDir = Get-ChildItem ./appdynamics/config* | select Name
          $bundleFileDirName = $bundleFileDir.Name
          7z a "$bundleFileDirName.zip" ./appdynamics -xr!logs
          "bundle_name=$bundleFileDir.zip" >> $env:GITHUB_OUTPUT
          "bundle_name=${bundleFileDirName}.zip" >> $GITHUB_OUTPUT

      - name: Release the bundle for Windows
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: dist/${{ steps.install_it.outputs.bundle_name }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Keep workflow artifact within the current workflow namespace
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.install_it.outputs.bundle_name }}
          path: dist/${{ steps.install_it.outputs.bundle_name }}
          if-no-files-found: ignore